# Python
*.pyc
__pycache__/
db.sqlite3

# Django
/media/
*.log

# Virtual environments
venv/
env/

# VS Code
.vscode/
.idea/

# Migrations cache
*/migrations/__pycache__/


# Environment variables
.env